body{
    font-family: 'Roboto', sans-serif;
	background-color: #bdc3c7;
	margin: 0;
}
#app-container{
	width: 100%;
	overflow: hidden;
}
#header-container{
	background-color: #2ecc71;
	text-align: center;
}

#header-container h1{
	line-height: 10vh;
	margin:0;
	color: white;
}
#header-container h1.danger{
	color: red;
}

#app-body{
	padding-top: 5vh;
	width: 80%;
	margin: 0 auto;
	min-height: 75vh;
}

#app-footer{
	margin: 0 auto;
	width: 40%;
	text-align: center;
	padding-top: 30px;
	border-top: 1px solid #7f8c8d;
}
.filas{
	padding: 20px 0;
	background-color: #ffffff;
}
.card{
	border: none;
}
